.all-order,
.all-res{
    height: auto;
    margin:20px auto;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    position:relative;
}

.res,
.order{
    display:flex;
    flex-direction: row;
    padding:30px 20px;
}
.res-bold-text{
    font-weight: bold;
    font-size: 16px;
    color: #1a2331;
}

.res-normal-text{
    font-weight: normal;
    font-size: 16px;
    color:#777777;
}

.res-title{
    font-weight: bold;
font-size: 24px;
color: #1A2B49;
}

.res-time{
    position: absolute;
    right:30px;
    top:10px;
}

hr.full-divider{
    margin-top: 60px;
    border: 1px solid #DADADA
}

.res-price{
    color: #333333;
    font-weight: bold;
    font-size: 24px;
}

.btn-5{
    height: 38px;
    border: 1px solid #D80027;
    border-radius: 2px;
    font-size: 14px;
    color: #D80027;
    padding: 0px 15px;
    width: fit-content;
    background-color: #FFFFFF;
}

.btn-6{
    margin-right: 20px;
    width: fit-content;
    height: 38px;
    border: 1px solid #00AEFF;
    background-color: #00AEFF;
    border-radius: 2px;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0px 15px; 
}

.res-about{
    width:100%;
    padding:0px 20px;
}

.res-details-section,
.order-details-section{
    display:flex;
    justify-content: space-between;
}

.order-details-section{
    width:70%;
}

.res-details:not(:nth-of-type(4)){
    padding-right: 10px;
    border-right: 1px solid #EAEAEA;
}

.order-details:not(:nth-of-type(3)){
    padding-right: 10px;
    border-right: 1px solid #EAEAEA;
}

.pending-status{
    background-color:rgba(50, 166, 54, 0.1);
    font-weight: bold;
    font-size: 16px;
    color: #32A636;
    position: absolute;
    right:0px;
    bottom:50px;
}

.payment-pending-status{
    background-color:rgba(219, 145, 33, 0.1);
    font-weight: bold;
    font-size: 16px;
    color: #DB9121;;
    position: absolute;
    right:0px;
    bottom:50px;
}

.res-day{
    font-size: 20px;
    color:#333333;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 30px;
}

.filter-section{
    padding: 20px 0px;
    display:flex;
    justify-content: right;
    border-bottom: 1px solid #DADADA;
}

select{
    outline-style: none;
}

.filter-section select:not(:first-of-type){
    margin-left:20px;
}

.filter-text{
    font-size: 14px;
    color:#000000;
    margin-right: 10px;
}

.filter-section select{
    border:1px solid #333333;
    background-color: transparent;
    height: 38px;
    border-radius: 2px;
    padding: 0px 10px;
    font-size: 14px;
    color:#333333;
}

.order-qty{
    font-size: 24px;
    color: #4f4f4f;
    font-weight: normal;
}

.order-status{
    position: absolute;
    bottom: 50px;
    right:20px;
    font-weight: 600;
}

.order-status p{
    color: #333333;
    font-size: 16px;
}

.order-status select{
    font-size: 14px;
    color:#333333;
    height:42px;
    width:177px;
    border: 1px solid #D6D7DA;
    border-radius: 4px;
    background: #FFFFFF;
    padding: 0px 10px ;
}

.title-section{
    display: flex;
    justify-content: space-between;
}

.price2{
    display: none;
}

.order-details:not(:first-of-type){
    padding-left: 10px;
}

.res-details:not(:first-of-type){
    padding-left: 20px;
}

@media screen and (max-width: 1180px) {
    .order-details-section {
        width: 100%;
    }

    .order-status{
        bottom: 25px;
    }

    .order-qty{
        font-size: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .all-order{
        height: 420px;
    }

    .order-status{
        bottom: 15px;
    }

    .order-qty{
        font-size: 18px;
    }

    .res-title{
        margin-top: 10px;
    }

    .title-section{
        flex-direction: column;
    }
}

@media screen and (max-width: 770px) {
    .res-details:not(:nth-of-type(4)) {
        padding-right: 0px;
        border-right: none;
    }

    .res-details-section{
        flex-wrap: wrap;
    }

    .res-details:not(:first-of-type) {
        padding-left: 0px;
    }
}

@media screen and (max-width: 690px) {
    .order-details:not(:first-of-type) {
        padding-left: 0px;
    }

    .all-order,
    .all-res{
        width: 80%;
        height: auto;
        padding-bottom: 70px;
    }

    .all-res{
        padding-bottom: 60px;
    }

    .price1{
        display: none;
    }

    .price2{
        display: block;
    }

    .order img,
    .res img{
        width: 100%;
        margin-top: 70px;
    }

    hr.full-divider {
        display: none;
    }

    .order-details-section,
    .res-details-section {
        flex-wrap: wrap;
    }

    .res-details-section{
        padding-right: 20px;
    }

    .res-btns{
        display: flex;
        justify-content: space-between;
    }

    .order-details:not(:nth-of-type(3)) {
        border-right: none;
    }

    .order,
    .res{
        flex-direction: column;
    }

    .order-status{
        left:20px;
    }

    .order-status select{
        width:100%;
    }

    .res-time{
        left:20px;
    }

    .res-about{
        padding:0px;
    }
}

@media screen and (max-width: 550px) {
    .all-order,
    .all-res{
        width: 90%;
    }

    .order img,
    .res img{
        margin-top: 50px;
    }

    .res-bold-text,
    .res-normal-text,
    .order-status p{
        font-size: 14px;
    }

    .res-title,
    .res-price{
        font-size: 20px;
    }

    .order-qty{
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    .all-order,
    .all-res{
        width: 100%;
    }

    .order,
    .res{
        padding: 30px 10px;
    }
    .order-status{
        left:10px;
    }

    .res-time{
        left:10px;
    }
}

@media screen and (max-width: 400px) {
.filter-section select:not(:first-of-type) {
    margin-left: 10px;
}

.filter-section{
    padding: 20px 10px;
}

.filter-section select{
    padding:0px;
}

.btn-5,
.btn6{
    font-size: 12px;
}
}